@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  background-color: #101630;
  font-family: 'Roboto', sans-serif;
  padding-inline: 4rem;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #101630;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #3c7ef5;
  border-radius: 100vh;
  height: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2758b3;
}

@layer components {
  /* Nav */
  .nav-link {
    @apply px-8 py-2 text-base font-bold rounded-lg cursor-pointer text-gray-50;
  }

  .nav-link:hover {
    @apply duration-300 bg-button_hover;
  }

  .nav-link-active {
    @apply bg-button_hover;
  }

  /* Button */
  .button-custom {
    @apply px-8 py-2 font-bold duration-300 border-2 rounded-lg border-button bg-button;
  }

  .button-custom:hover {
    @apply hover:border-button_hover hover:bg-transparent;
  }

  /* Tab */
  .tab {
    @apply w-full pb-2 text-center;
  }

  .tab-active {
    @apply font-bold;
  }

  .tab-active::after {
    @apply block w-full mx-auto mt-2 ease-in-out bg-gray-50 content-[''] h-1 animate-fade-in-tab;
  }
}
