@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* All */
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 12rem !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  @apply bg-background_primary;
}

*::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
  background: #2758b3;
}

body {
  @apply bg-background_primary font-Roboto;
}

/* Embla */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.text-blue-shadow {
  /* text-shadow: 0px -5px 15px #3b82f6, 0 5px 15px #4d4fe6; */
  text-shadow: 0px 0px 20px #3b82f6;
}

.button-custom {
  @apply relative px-8 py-3 text-lg font-bold text-white transition-transform duration-100 bg-black border-none rounded-lg;
}

.button-custom::before {
  background: linear-gradient(45deg, #3b82f6, #22d3ee, #4f46e5, #22d3ee, #3b82f6, #22d3ee, #4f46e5, #22d3ee);
  @apply absolute z-[-1] w-full h-full top-0 left-0 content-[""] bg-[size:800%] blur-md rounded-xl animate-glowing-button;
}

.button-custom:hover {
  @apply z-10 scale-105 bg-transparent;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Custom */
.container-section {
  @apply w-[90%] mx-auto;
}

.nav-link {
  @apply px-8 py-2 text-base font-bold rounded-lg cursor-pointer text-gray-50;
}

.nav-link:hover {
  @apply duration-300 bg-button;
}

.nav-link-active {
  @apply bg-button;
}

.nav-link-mobile {
  @apply w-1/2 px-8 py-2 text-base font-bold text-center rounded-lg cursor-pointer text-gray-50;
}

.nav-link-mobile:hover {
  @apply duration-300 bg-button;
}

/* .button-custom {
  @apply px-8 py-2 font-bold duration-300 border-2 rounded-lg border-button bg-button;
}

.button-custom:hover {
  @apply hover:border-button_hover hover:bg-transparent;
} */

.tab {
  @apply w-full pb-2 text-center cursor-pointer;
}

.tab-active {
  @apply font-bold;
}

.tab-active::after {
  @apply block w-full mx-auto mt-2 ease-in-out bg-gray-50 content-[''] h-1 animate-fade-in-tab;
}

.input-text,
.input-message {
  @apply w-full px-4 py-2 text-base font-bold border-2 rounded-lg outline-none border-gray-50 bg-background_primary text-gray-50;
}

.input-message {
  @apply h-32 resize-none;
}

.text-gradient-1 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-cyan-400 to-indigo-600;
}

.text-gradient-2 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#00d2ff] to-[#3a47d5];
}
