@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  @apply bg-background;
}

*::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
  background: #2758b3;
}

body {
  @apply bg-background font-Roboto;
}

section {
  width: 80%;
  margin: 0 auto;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.nav-link {
  @apply px-8 py-2 text-base font-bold rounded-lg cursor-pointer text-gray-50;
}

.nav-link:hover {
  @apply duration-300 bg-button_hover;
}

.nav-link-active {
  @apply bg-button_hover;
}

.nav-link-mobile {
  @apply px-8 py-2 text-base font-bold rounded-lg cursor-pointer text-gray-50;
}

.button-custom {
  @apply px-8 py-2 font-bold duration-300 border-2 rounded-lg border-button bg-button;
}

.button-custom:hover {
  @apply hover:border-button_hover hover:bg-transparent;
}

.tab {
  @apply w-full pb-2 text-center cursor-pointer;
}

.tab-active {
  @apply font-bold;
}

.tab-active::after {
  @apply block w-full mx-auto mt-2 ease-in-out bg-gray-50 content-[''] h-1 animate-fade-in-tab;
}

.input-text,
.input-message {
  @apply w-full px-4 py-2 text-base font-bold border-2 rounded-lg outline-none border-gray-50 bg-background text-gray-50;
}

.input-message {
  @apply h-32 resize-none;
}

.container-section {
  @apply w-[90%];
}
